In [14]:
import pandas as pd

In [15]:
data = pd.read_csv("holidays.csv")

print(data)

   Holiday_destinations  Score_out_of_10  Average_star_rating  \
0                 Spain                9                    2
1       South of France                7                    2
2                 Crete                2                    2
3                 Japan                5                    3
4              Barbados                9                    5
5               England               10                    2
6              Portugal                4                    1
7                   USA                2                    1
8                Canada                6                    2
9                Mexico                5                    3
10              Iceland                8                    1
11               Russia                7                    5
12            Australia                0                    4
13          New Zealand                8                    3
14              Vietnam                6                    2

    No_of_all-inc_hotels Most_visited_destinations
0                     90             South Beaches
1                     56              Saint-Tropez
2                     44                 Elafonisi
3                   1232                     Tokyo
4                     87                Bridgetown
5                     30                    London
6                   1268                    Lisbon
7                     66                       NYC
8                    346                  Montreal
9                    238                    Cancun
10                    95                Reyjkjavik
11                   337                Stalingrad
12                   456           New South Wales
13                   285                  Auckland
14                   556                     Hanoi