In [17]:
import pandas as pd

In [23]:
data = pd.read_csv("holidays.csv")

data[(data.Score_out_of_10 > 8) & (data.Holiday_destinations)]

,Holiday_destinations,Score_out_of_10,Average_star_rating,No_of_all-inc_hotels,Most_visited_destinations
0,Spain,9,2,90,South Beaches
4,Barbados,9,5,87,Bridgetown
5,England,10,2,30,London